

.u-section-1 {
  background-image: url("images/buidlings.jpeg");
  min-height: 840px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2)  + 750px);
  min-height: 335px;
  height: auto;
  margin: 241px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  font-weight: 700;
  margin: 11px auto 0;
}

.u-section-1 .u-group-2 {
  width: 727px;
  min-height: 156px;
  height: auto;
  margin: -21px 19px -72px auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    min-height: 693px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 750px);
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-1 {
    font-size: 5rem;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 531px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-group-2 {
    width: 720px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 398px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-text-1 {
    font-size: 4rem;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 251px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: url("images/pin.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 945px;
}

.u-section-2 .u-group-1 {
  width: 484px;
  min-height: 666px;
  height: auto;
  margin: 32px auto 60px 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 779px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 597px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 282px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: url("images/415dac76f2a0fc9549b6f15a0b76692fba3f4b4276ff5ddc4942937bf6318c5527832b79dc4a6b0b4cec4954bce77b1f3d83f0e7e300669c325c25_1280.jpg");
}

.u-section-3 .u-sheet-1 {
  min-height: 925px;
}

.u-section-3 .u-group-1 {
  width: 1052px;
  min-height: 666px;
  height: auto;
  margin: 121px auto 60px 12px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 16px;
}

.u-section-3 .u-group-2 {
  width: 454px;
  min-height: 560px;
  height: auto;
  margin: 73px 12px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 12px 27px;
}

.u-section-3 .u-group-3 {
  width: 232px;
  min-height: 232px;
  height: auto;
  margin: 0 73px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-icon-1 {
  width: 70px;
  height: 70px;
  margin: 30px auto 0;
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 27px 43px 0;
}

.u-section-3 .u-group-4 {
  width: 232px;
  min-height: 232px;
  height: auto;
  margin: 43px 74px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  width: 70px;
  height: 71px;
  margin: 16px auto 0;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: -340px auto 0 121px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 763px;
  }

  .u-section-3 .u-group-1 {
    width: 940px;
    margin-left: 0;
    height: auto;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-3 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 438px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 276px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
  }

  .u-section-3 .u-group-2 {
    width: 320px;
    margin-right: 0;
  }

  .u-section-3 .u-group-3 {
    margin-right: 68px;
  }

  .u-section-3 .u-group-4 {
    margin-right: 68px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 74px;
  }
} .u-section-4 {
  background-image: url("images/c683e942b95ba2b18c49ac3cb5c6d42f05b1e299e7d87902bc4035c6f77eeefc645c18a54b21a121abf10cb9307a44a65b88443d01ba5fe5de5378_1280.jpg");
  background-position: 50% 50%;
  background-size: cover;
}

.u-section-4 .u-sheet-1 {
  min-height: 853px;
}

.u-section-4 .u-group-1 {
  width: 316px;
  min-height: 385px;
  height: auto;
  margin: 83px auto 60px 46px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 0 61px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 538px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 404px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 254px;
  }

  .u-section-4 .u-group-1 {
    margin-left: 24px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 738px;
}

.u-section-5 .u-text-1 {
  margin: 14px 570px 0 48px;
}

.u-section-5 .u-image-1 {
  width: 535px;
  height: 558px;
  margin: -645px 14px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 357px;
    margin-right: 418px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: -144px;
    margin-bottom: -7px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 198px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-top: 344px;
    margin-right: 18px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -124px;
    margin-right: 5px;
    margin-bottom: 6px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 330px;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 355px;
    margin-top: -111px;
    margin-right: 0;
    margin-bottom: 20px;
  }
} .u-section-6 {
  min-height: 738px;
}

.u-section-6 .u-group-1 {
  min-height: 737px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-image-1 {
  width: 437px;
  height: 661px;
  margin: 20px 20px 0 auto;
}

.u-section-6 .u-text-1 {
  margin: -648px 652px 0 83px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    height: auto;
  }

  .u-section-6 .u-text-1 {
    margin-right: 534px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 314px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 134px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-image-1 {
    width: 340px;
    height: 514px;
    margin-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }
}